In [3]:
import pandas as pd
df = pd.read_excel ('/Users/muki/Library/Containers/com.microsoft.Excel/Data/Downloads/Week7_Store_Data_Sample.xlsx')
df

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"Чихэр, печенье",Shokolinsen 250 гр,3300.0,2.0,NaN,6600.0
1,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"OO ийн цаас, сальфетка",Хэрэглээ 00ийн цаас,500.0,3.0,NaN,1500.0
2,CA-2016-138688,2016-06-12,MO-17950,Байгууллага,Хан-Уул,"Чихэр, печенье",Алимтай жигнэмэг 230 гр,3100.0,2.0,NaN,6200.0
3,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Хиам бууз,Золотой янта 500 гр,2800.0,5.0,NaN,14000.0
4,NaN,NaT,JO-15550,Хувь хүн,Баянзүрх,Ундаа ус,Punch 450 мл,1150.0,2.0,NaN,2300.0
...,...,...,...,...,...,...,...,...,...,...,...
95,US-2017-109484,2017-11-06,JR-15700,NaN,Хан-Уул,"Компот варенье, хүүхдийн тэжээл",Hainich нухаш,3300.0,1.0,NaN,3300.0
96,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,CA-2017-157833,2017-06-17,BM-11575,Хувь хүн,Хан-Уул,"Набор, шоколад, бохь",Монстров 23 гр,500.0,3.0,NaN,1500.0
98,CA-2016-149223,2016-09-06,CV-12805,Байгууллага,Чингэлтэй,Архи пиво,Арвай 0.100,2000.0,6.0,NaN,12000.0
99,CA-2016-158568,NaT,DK-12835,NaN,Чингэлтэй,Бэлэн гоймон,Тэйсти гоймон 110 гр,1800.0,7.0,NaN,12600.0

In [4]:
df.isnull()

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,True,False
4,True,True,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,True,False,False,False,False,False,True,False
96,True,True,True,True,True,True,True,True,True,True,True
97,False,False,False,False,False,False,False,False,False,True,False
98,False,False,False,False,False,False,False,False,False,True,False
99,False,True,False,True,False,False,False,False,False,True,False

In [8]:
df1 = df.fillna(method = 'ffill')
df1

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"Чихэр, печенье",Shokolinsen 250 гр,3300.0,2.0,NaN,6600.0
1,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"OO ийн цаас, сальфетка",Хэрэглээ 00ийн цаас,500.0,3.0,NaN,1500.0
2,CA-2016-138688,2016-06-12,MO-17950,Байгууллага,Хан-Уул,"Чихэр, печенье",Алимтай жигнэмэг 230 гр,3100.0,2.0,NaN,6200.0
3,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Хиам бууз,Золотой янта 500 гр,2800.0,5.0,NaN,14000.0
4,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Ундаа ус,Punch 450 мл,1150.0,2.0,NaN,2300.0
...,...,...,...,...,...,...,...,...,...,...,...
95,US-2017-109484,2017-11-06,JR-15700,Хувь хүн,Хан-Уул,"Компот варенье, хүүхдийн тэжээл",Hainich нухаш,3300.0,1.0,NaN,3300.0
96,US-2017-109484,2017-11-06,JR-15700,Хувь хүн,Хан-Уул,"Компот варенье, хүүхдийн тэжээл",Hainich нухаш,3300.0,1.0,NaN,3300.0
97,CA-2017-157833,2017-06-17,BM-11575,Хувь хүн,Хан-Уул,"Набор, шоколад, бохь",Монстров 23 гр,500.0,3.0,NaN,1500.0
98,CA-2016-149223,2016-09-06,CV-12805,Байгууллага,Чингэлтэй,Архи пиво,Арвай 0.100,2000.0,6.0,NaN,12000.0
99,CA-2016-158568,2016-09-06,DK-12835,Байгууллага,Чингэлтэй,Бэлэн гоймон,Тэйсти гоймон 110 гр,1800.0,7.0,NaN,12600.0

In [9]:
df2 = df.fillna(method = 'bfill')
df2

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"Чихэр, печенье",Shokolinsen 250 гр,3300.0,2.0,NaN,6600.0
1,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"OO ийн цаас, сальфетка",Хэрэглээ 00ийн цаас,500.0,3.0,NaN,1500.0
2,CA-2016-138688,2016-06-12,MO-17950,Байгууллага,Хан-Уул,"Чихэр, печенье",Алимтай жигнэмэг 230 гр,3100.0,2.0,NaN,6200.0
3,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Хиам бууз,Золотой янта 500 гр,2800.0,5.0,NaN,14000.0
4,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Ундаа ус,Punch 450 мл,1150.0,2.0,NaN,2300.0
...,...,...,...,...,...,...,...,...,...,...,...
95,US-2017-109484,2017-11-06,JR-15700,Хувь хүн,Хан-Уул,"Компот варенье, хүүхдийн тэжээл",Hainich нухаш,3300.0,1.0,NaN,3300.0
96,US-2017-109484,2017-11-06,JR-15700,Хувь хүн,Хан-Уул,"Компот варенье, хүүхдийн тэжээл",Hainich нухаш,3300.0,1.0,NaN,3300.0
97,CA-2017-157833,2017-06-17,BM-11575,Хувь хүн,Хан-Уул,"Набор, шоколад, бохь",Монстров 23 гр,500.0,3.0,NaN,1500.0
98,CA-2016-149223,2016-09-06,CV-12805,Байгууллага,Чингэлтэй,Архи пиво,Арвай 0.100,2000.0,6.0,NaN,12000.0
99,CA-2016-158568,2016-09-06,DK-12835,Байгууллага,Чингэлтэй,Бэлэн гоймон,Тэйсти гоймон 110 гр,1800.0,7.0,NaN,12600.0

In [10]:
df3 = df.dropna(how = 'all', axis=1)
df3

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Sales
0,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"Чихэр, печенье",Shokolinsen 250 гр,3300.0,2.0,6600.0
1,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"OO ийн цаас, сальфетка",Хэрэглээ 00ийн цаас,500.0,3.0,1500.0
2,CA-2016-138688,2016-06-12,MO-17950,Байгууллага,Хан-Уул,"Чихэр, печенье",Алимтай жигнэмэг 230 гр,3100.0,2.0,6200.0
3,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Хиам бууз,Золотой янта 500 гр,2800.0,5.0,14000.0
4,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Ундаа ус,Punch 450 мл,1150.0,2.0,2300.0
...,...,...,...,...,...,...,...,...,...,...
95,US-2017-109484,2017-11-06,JR-15700,Хувь хүн,Хан-Уул,"Компот варенье, хүүхдийн тэжээл",Hainich нухаш,3300.0,1.0,3300.0
96,US-2017-109484,2017-11-06,JR-15700,Хувь хүн,Хан-Уул,"Компот варенье, хүүхдийн тэжээл",Hainich нухаш,3300.0,1.0,3300.0
97,CA-2017-157833,2017-06-17,BM-11575,Хувь хүн,Хан-Уул,"Набор, шоколад, бохь",Монстров 23 гр,500.0,3.0,1500.0
98,CA-2016-149223,2016-09-06,CV-12805,Байгууллага,Чингэлтэй,Архи пиво,Арвай 0.100,2000.0,6.0,12000.0
99,CA-2016-158568,2016-09-06,DK-12835,Байгууллага,Чингэлтэй,Бэлэн гоймон,Тэйсти гоймон 110 гр,1800.0,7.0,12600.0

In [11]:
df4 = df.dropna(how = 'all', axis=0)
df4

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"Чихэр, печенье",Shokolinsen 250 гр,3300.0,2.0,NaN,6600.0
1,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"OO ийн цаас, сальфетка",Хэрэглээ 00ийн цаас,500.0,3.0,NaN,1500.0
2,CA-2016-138688,2016-06-12,MO-17950,Байгууллага,Хан-Уул,"Чихэр, печенье",Алимтай жигнэмэг 230 гр,3100.0,2.0,NaN,6200.0
3,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Хиам бууз,Золотой янта 500 гр,2800.0,5.0,NaN,14000.0
4,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Ундаа ус,Punch 450 мл,1150.0,2.0,NaN,2300.0
...,...,...,...,...,...,...,...,...,...,...,...
95,US-2017-109484,2017-11-06,JR-15700,Хувь хүн,Хан-Уул,"Компот варенье, хүүхдийн тэжээл",Hainich нухаш,3300.0,1.0,NaN,3300.0
96,US-2017-109484,2017-11-06,JR-15700,Хувь хүн,Хан-Уул,"Компот варенье, хүүхдийн тэжээл",Hainich нухаш,3300.0,1.0,NaN,3300.0
97,CA-2017-157833,2017-06-17,BM-11575,Хувь хүн,Хан-Уул,"Набор, шоколад, бохь",Монстров 23 гр,500.0,3.0,NaN,1500.0
98,CA-2016-149223,2016-09-06,CV-12805,Байгууллага,Чингэлтэй,Архи пиво,Арвай 0.100,2000.0,6.0,NaN,12000.0
99,CA-2016-158568,2016-09-06,DK-12835,Байгууллага,Чингэлтэй,Бэлэн гоймон,Тэйсти гоймон 110 гр,1800.0,7.0,NaN,12600.0